<!DOCTYPE html>
<html>
  <head>
    <title>
      Crestlearn Enrollment
    </title>
  </head>
  <body>
    <div>
      <h4>Hi {{name}},</h4>
      <div>
        We appreciate having you as a member of the Crestlearn family and we are confident that you will enjoy your experience here with us.<br>
        Your Crestlearn Application Sign in credentials are below.<br>
        Click on the Link below to start your Journey<br>
        <br><br>
        {{domain}}
        <br>
        Username: {{email}} <br>
        Password: {{password}}

        <br><br>
        Thank you.
        <br>
        CrestAgile

      </div>
    </div>
 

  </body>
</html>
